# Model and training
torch==2.5.0
scvi-tools==1.4.0.post1
lightning==2.5.5

# Data handling and numerical analysis
anndata==0.12.3
numpy==2.3.3
pandas==2.3.3
scipy==1.16.2
h5py==3.15.1
statsmodels==0.14.5

# Preprocessing and evaluation
scanpy==1.11.5
scikit-learn==1.7.2
scikit-misc==0.5.1

# Visualization
matplotlib==3.10.7
seaborn==0.13.2
umap-learn==0.5.9.post2